html,body{
    height:100%;
    width: 100%;
    margin:0;
}
#container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
#sideBodyContainer{
    display: flex;
    flex-direction: row;
    flex: 1;
}
#header{
    text-align: start;
    font-size: 48px;
    font-weight:600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(138, 14, 39);
    color:white;
    padding: 25px;
}
#sideContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgb(180, 169, 169);
    height:100%;
}

#projectList{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
}
#projectForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
input#addProject{
    font-size: 20px;
    font-weight: 540;
    border: solid black 2px;
    border-radius: 4px;
    padding: 5px;
}
button#submitProject{
    font-size: 18px;
    font-weight: 540;
    background-color: rgb(175, 60, 60);
    color:rgb(219, 194, 199);
    border: solid black 3px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 60px;
}
#bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 3;
    gap: 10px;
    height: 100%;
    width: 100%;
}

#bodyTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    font-size: 24px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bodySubContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 10px;
}

.toDoDiv{
    display: flex;
    gap: 80px;
    height: auto;
    width: auto;
    border-top: solid black 2px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titleDiv,.descDiv,.dueDiv{
    display: flex;
    flex: 3;
}
.highPriority,.mediumPriority,.lowPriority{
    display: flex;
    flex: 1;
}

.highPriority{
    border-right: solid red 7px;
}
.mediumPriority{
    border-right: solid yellow 7px;
}
.lowPriority{
    border-right: solid green 7px;
}
.invisibleDesc{
    display: none;

}
.removeBtn{
    border: rgb(255, 58, 97) solid 2px;
    background-color: rgb(255, 58, 97) ;
    padding: 2px;
    font-weight: 550;
    border-radius: 6px;
}
#todoForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 540;
}
input#addTitle, input#addDesc, input#addDate, select#addPriority, input#addLocation{
    font-size: 16px;
    font-weight: 540;
}
input#addTitle, input#addDate{
    width: 150px;
}
input#addLocation{
    width: 100px;
}
button#submitToDo{
    background-color: rgb(175, 60, 60);
    color:rgb(219, 194, 199);
    border: solid black 3px;
    border-radius: 6px;
}

#priorityContainer{
    display: flex;
    flex-direction: column;
}
