html,body{
    height:100%;
    margin:0;
}
#container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
#sideBodyContainer{
    display: flex;
    flex-direction: row;
    flex: 1;

}
#header{
    text-align: start;
    font-size: 48px;
    font-weight:600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(138, 14, 39);
    color:white;
    padding: 25px;
}
#sideContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    background-color: rgb(180, 169, 169);
    height:100%;
}

#projectList{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    
}
#createProjectBtn, #createToDoBtn{
    margin: auto;
    font-size: 20px;
    font-weight: 550;
}
#bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 4;
    margin: 60px;
    gap: 10px;
}

#bodyTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    font-size: 24px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bodySubContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 10px;
}

.toDoDiv{
    display: flex;
    gap: 80px;
    height: auto;
    width: auto;
    border-top: solid black 2px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titleDiv,.descDiv,.dueDiv{
    display: flex;
    flex: 3;
}
.highPriority,.mediumPriority,.lowPriority{
    display: flex;
    flex: 1;
}

.highPriority{
    border-right: solid red 7px;
}
.mediumPriority{
    border-right: solid yellow 7px;
}
.lowPriority{
    border-right: solid green 7px;
}
.invisibleDesc{
    display: none;

}
.removeBtn{
    border: rgb(255, 58, 97) solid 2px;
    background-color: rgb(255, 58, 97) ;
    padding: 2px;
    font-weight: 550;
    border-radius: 6px;

}